* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  margin: 0px;
  padding: 0px;
}
/* navbar */
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  color: palevioletred;
  height: 70px;
}
.menu {
  display: flex;
}
.menu li a {
  padding: 3px 10px;
  margin: 0px 15px;
  color: palevioletred;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all ease 0.3s;
}
.logo {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: palevioletred;
}
.menu li a:hover {
  color: rgb(231, 14, 86);
  transition: all ease 0.3s;
}
.banner h1{
  color:palevioletred;
  font-size: medium;
 text-align: center;
}
.banner h2{
  color: palevioletred;
  font-size: large;
  text-align: center;
}
.search-box{
  height: 30px;
  display: flex;
  text-align: center;
  margin-top:1px;
  padding: 4px;
  align-items: center;
  justify-content: center;
}
.search-box i{
  font-size: 1.5rem;
  color: palevioletred;
  margin:  10px;
  text-align: center;
  width: 20px;
  
}
.search-box .search-btn{
  width: 50px;
  height: 20px;
  border: none;
  background-color:palevioletred;
  color: white;
  outline: none;
  cursor: pointer;
  transition: all ease 0.3s;
}
.search-box .search-btn:hover{
  background-color:lightpink;
  transition: all ease 0.3s;
}
.banner{
  height:100%;
  background-image: url(/image/bg5.jpg)no repeat center center/cover;
 }